@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&family=Ephesis&display=swap');

@page {
size: a4 landscape !important;
}

@font-face {
font-family: 'EB Garamond' !important;
src: url("http://127.0.0.1:8001/static/fonts/EBGaramond-Regular.ttf") !important;
}
@font-face {
font-family: 'Ephesis' !important;
src: url("http://127.0.0.1:8001/static/fonts/Ephesis-Regular.ttf") !important;
}

.eb-garamond {
font-family: 'EB Garamond', serif !important;
}

.ephesis {
font-family: 'Ephesis'!important;
}

.relative {
position: relative !important;
}

.absolute {
position: absolute !important;
}

.inset-14 {
top: 3.5rem !important;
right: 3.5rem !important;
bottom: 3.5rem !important;
left: 3.5rem !important; 
}

.inset-0 {
top: 0 !important;
right: 0 !important;
bottom: 0 !important;
left: 0 !important; 
}

.inset-32 {
top: 8rem !important;
right: 8rem !important;
bottom: 8rem !important;
left: 8rem !important; 
}

.flex {
display: flex !important;
}

.justify-between {
justify-content: space-between !important;
}

.justify-start {
justify-content: flex-start !important;
}

.justify-center {
justify-content: center !important;
}

.items-start {
align-items: flex-start !important;
}

.text-center {
text-align: center !important; 
}

.items-end {
align-items: flex-end !important; 
}

.text-xs {
font-size: 0.75rem !important;
line-height: 1rem !important; 
}

.text-sm {
font-size: 0.875rem !important;
line-height: 1.25rem !important; 
}

.flex-col {
flex-direction: column !important; 
}

.mx-auto {
margin: auto !important;
}

.text-3xl {
font-size: 1.875rem !important;
line-height: 2.25rem !important; 
}

.text-7xl {
font-size: 4.5rem !important;
line-height: 1 !important; 
}

.tracking-wide {
letter-spacing: 0.025em !important; 
}

.mt-4 {
margin-top: 1rem !important; 
}

.mt-3 {
margin-top: 0.75rem !important; 
}

.mt-2 {
margin-top: 0.5rem !important; 
}

.mb-10 {
margin-bottom: 2.5rem !important; 
}

.mt-60 {
margin-top: 15rem !important; 
}